fastapi
uvicorn
sqlmodel
alembic
pymysql
python-dotenv
pydantic-settings
pytest
httpx
requests
markdown
pdfkit
PyJWT
python-multipart
wkhtmltopdf
cryptography
reportlab
sentence-transformers
faiss-cpu
nltk
python-docx
pdfminer.six
